![example](images/director_shot.jpeg)

# Project Title

**Authors:** Ian Butler, Ashli Dougherty, Nicolas Pierce
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

The below cell imports standard packages and also unzips the currently zipped IMDB dataset into ./zippedData

In [ ]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# from Kevin Rivera
from zipfile import ZipFile
# specifying the zip file name
file_name = "./zippedData/im.db.zip"
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
    # extracting all the files
    print('Extracting all the files now...')
    # extract data to the same directory as the other data
    zip.extractall(path='./zippedData')
    print('Done!')

%matplotlib inline

In [ ]:
conn = sqlite3.Connection('./zippedData/im.db')
cursor = conn.cursor()

In [ ]:
testq = """

select
    *
from
    movie_basics

"""

In [ ]:
testq_results = pd.read_sql(testq, conn)

In [ ]:
testq_results.head()

In [ ]:
# Here you run your code to explore the data

# Nic's Section Starts Here

In [ ]:
genreDict = {}


docu = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Documentary%'

ORDER BY avgRating DESC

;


'''

docu = pd.read_sql(docu, conn)
documean = docu['avgRating'].mean()
genreDict['Documentary'] = documean


bio = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Biography%'

ORDER BY avgRating DESC

;


'''

bio = pd.read_sql(bio, conn)
biomean = bio['avgRating'].mean()
genreDict['Biography'] = biomean


music = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Music%'

ORDER BY avgRating DESC

;


'''

music = pd.read_sql(music, conn)
musicmean = music['avgRating'].mean()
genreDict['Music'] = musicmean


drama = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Drama%'

ORDER BY avgRating DESC

;


'''

drama = pd.read_sql(drama, conn)
dramamean = drama['avgRating'].mean()
genreDict['Drama'] = dramamean


family = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Family%'

ORDER BY avgRating DESC

;


'''

family = pd.read_sql(family, conn)
familymean = family['avgRating'].mean()
genreDict['Family'] = familymean


ani = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Animation%'

ORDER BY avgRating DESC

;


'''

ani = pd.read_sql(ani, conn)
animean = ani['avgRating'].mean()
genreDict['Animation'] = animean


adv = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Adventure%'

ORDER BY avgRating DESC

;


'''

adv = pd.read_sql(adv, conn)
advmean = adv['avgRating'].mean()
genreDict['Adventure'] = advmean


rom = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Romance%'

ORDER BY avgRating DESC

;


'''

rom = pd.read_sql(rom, conn)
rommean = rom['avgRating'].mean()
genreDict['Romance'] = rommean


com = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Comedy%'

ORDER BY avgRating DESC

;


'''

com = pd.read_sql(com, conn)
commean = com['avgRating'].mean()
genreDict['Comedy'] = commean


mys = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Mystery%'

ORDER BY avgRating DESC

;


'''

mys = pd.read_sql(mys, conn)
mysmean = mys['avgRating'].mean()
genreDict['Mystery'] = mysmean


fant = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Fantasy%'

ORDER BY avgRating DESC

;


'''

fant = pd.read_sql(fant, conn)
fantmean = fant['avgRating'].mean()
genreDict['Fantasy'] = fantmean


action = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Action%'

ORDER BY avgRating DESC

;


'''

action = pd.read_sql(action, conn)
actionmean = action['avgRating'].mean()
genreDict['Action'] = actionmean


thriller = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Thriller%'

ORDER BY avgRating DESC

;


'''

thriller = pd.read_sql(thriller, conn)
thrillermean = thriller['avgRating'].mean()
genreDict['Thriller'] = thrillermean

sci = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Sci-Fi%'

ORDER BY avgRating DESC

;


'''

sci = pd.read_sql(sci, conn)
scimean = sci['avgRating'].mean()
genreDict['Sci_fi'] = scimean


horror = '''
SELECT
    movie_ratings.movie_id AS id,
    movie_ratings.averagerating AS avgRating,
    movie_basics.primary_title AS title,
    movie_basics.genres AS genres
FROM
    movie_ratings
INNER JOIN movie_basics ON movie_ratings.movie_id=movie_basics.movie_id

WHERE
    genres LIKE '%Horror%'

ORDER BY avgRating DESC

;


'''

horror = pd.read_sql(horror, conn)
horrormean = horror['avgRating'].mean()
genreDict['Horror'] = horrormean
genreDict



genres = list(genreDict.keys())
ratings = list(genreDict.values())


g = sns.barplot(x=genres, y=ratings);
g.figure.set_size_inches(10,7);
g.axes.set_title('Movie Genres and Their Average Ratings', fontsize=24);
plt.xticks(rotation=45);
plt.xlabel('Genres', fontsize=16)
plt.ylabel('Average Rating out of 10', fontsize=16);

# Nic's Section Ends Here

## Exploring how genre affects domestic gross revenue

### Average Gross Domestic Revenue by Genre

### Preparing Data for Domestic Gross and Genres

We wanted to show which type of movies were generating the most box office revenue. We examined domestic gross box office returns from US movies between the years of 2010 and 2018. Data is from Box Office Mojo: https://www.boxofficemojo.com/?ref_=bo_nb_cso_mojologo.

Loading data frame to examine movie title, domestic gross, and foreign gross.

In [ ]:
bom_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')
bom_df.head()

In [ ]:
bom_df.info()

Upon exploration we saw that there were null values in both gross columns.

In [ ]:
print(bom_df['foreign_gross'].isna().sum())
print(bom_df['domestic_gross'].isna().sum())

We chose to focus just on domestic gross values as there are 1350 null values for foreign gross compared to only 28 null values for domestic gross. We then had to decide what action to take for the null vales in domestic gross.

In [ ]:
bom_df['domestic_gross'].describe()

Null values were dropped for the following reasons: 
- Due to the large difference between the minimum (100) and the max (9 million) values for domestic gross as inswerting either the mean or mediuan could skew over all averages.
- Null values only represent less than 1% of all entries.

Final table filted to only show title and domestic gross revenue.

In [ ]:
bom_domestic_df = bom_df.loc[: , ['title','domestic_gross']]
bom_domestic_df_clean = bom_domestic_df.dropna(subset =['domestic_gross'])
bom_domestic_df_clean.sort_values(by='domestic_gross', ascending = False)

New data frame was created using IMBD SQL data base that would include both the title and genres. Based on the titles from the Box Office Mojo table we decided to include films from the US region only.

In [ ]:
basics_q = """

SELECT
    DISTINCT mb.primary_title as title,
    mb.genres,
    ma.region

FROM
    movie_basics as mb
        INNER JOIN movie_akas as ma
            ON mb.movie_id = ma.movie_id

WHERE
    ma.region = 'US'

GROUP BY
    mb.genres,
    title

"""

mv_basics = pd.read_sql(basics_q, conn)
mv_basics.head()

In [ ]:
mv_basics.info()

Checked for duplicate titles and decided to drop them for the following reasons: 
- It was not possible to search if each duplicate title was a differnt movie based on sheer numbers of entries.
- Duplicate titles only representative of 7% of the data

In [ ]:
mv_basics['title'].duplicated(keep =False).value_counts()

In [ ]:
mv_basics_dropped = mv_basics[(mv_basics['title'].duplicated(keep =False)) == False]
mv_basics_dropped.head()

In [ ]:
mv_basics_dropped.info()

In [ ]:
mv_basics_dropped['genres'].isna().sum()

Checked for null data and saw that there were 543 missing values. These were also dropped becuase having an "Unknown" genre would not help in answering our question of which specific genres produce revenue.

#### Merged Data frames
IMDB data that contained title and genre was merged with Box Office Mojo Data frame that contained title and domestic gross. These tables were joined on movie title, so only common titles were kept for analysis.

In [ ]:
genre_domgross = mv_basics_dropped.merge(bom_domestic_df_clean, how='inner', on='title')
genre_domgross.head()

In [ ]:
genre_domgross['genres'].isna().sum()

Once again null values for genres was dropped using same earlier arguments.

In [ ]:
genre_domgross_clean = genre_domgross.dropna(subset=['genres'])
genre_domgross_clean.head()

### Combining genres and finding average domestic gross for each "main" genre.

Now that all relevant data was in one table, movies could be grouped by genre/subgenres. The next step was to determine how to group the movies that had more than one genre in to a "main" genre. What would be considered a main movie genre was taken from: https://en.wikipedia.org/wiki/Film_genre and include: 
**Action, Adventure, Animation, Biography, Comedy, Documentary, Drama, Family, Fantasy, Horror, Music, Mystery, Romance, Sci-Fi, and Thriller.** 
These are also the same genres that were considered when we explored the ratings and genres data.

The data frame was filtered to pull any movie that contained the genre name and calculate the mean for each main genre.

In [ ]:
action = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Action')]
action.mean()
adventure = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Adventure')]
adventure.mean()
animation = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Animation')]
animation.mean()
biography = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Biography')]
biography.mean()
comedy = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Comedy')]
comedy.mean()
documentary = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Documentary')]
documentary.mean()
drama = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Drama')]
drama.mean()
family = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Family')]
family.mean()
fantasy = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Fantasy')]
fantasy.mean()
horror = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Horror')]
horror.mean()
music = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Music')]
music.mean()
mystery = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Mystery')]
mystery.mean()
romance = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Romance')]
romance.mean()
sci_fi = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Sci-Fi')]
sci_fi.mean()
thriller = genre_domgross_clean[genre_domgross_clean['genres'].str.contains('Thriller')]
thriller.mean()

From there a dictionary was built that has the main genre as keys and the average domestic gross as values. These would be used to build visualizations.

In [ ]:
avg_main_genre_gross = {
    
    'Action': 8.749614e+07,
    'Adventure': 1.148395e+08,
    'Animation': 1.128608e+08,
    'Biography': 2.854831e+07,
    'Comedy': 4.654518e+07,
    'Documentary': 3270702.98,
    'Drama':  2.327981e+07,
    'Family': 6.359999e+07, 
    'Fantasy': 6.933615e+07,
    'Horror': 3.157331e+07,
    'Music': 3.052755e+07,
    'Mystery': 3.378377e+07,
    'Romance': 2.223531e+07,
    'Sci-Fi': 1.390575e+08,
    'Thriller': 4.333931e+07,
    
}
list(avg_main_genre_gross.keys())
list(avg_main_genre_gross.values())

## Data Modeling
### Average Domestic Gross by Genre

In [ ]:
x = list(avg_main_genre_gross.keys())
y = list(avg_main_genre_gross.values())


plt.figure(figsize=(12,6))
ax = sns.barplot(x, y)
plt.title('Average Domestic Gross by Genre', fontsize =20, weight = 'bold')
plt.ylabel('Average Domestic Gross', fontsize =15)
plt.xlabel('Genres', fontsize =20)
plt.ticklabel_format(style='plain', axis = 'y')
ax.set_xticklabels(ax.get_xticklabels(),rotation = 30);

## Average Gross Domestic Revenue by Combined Genres
After examining the IMBD data base it was evident that most movies do not fall within a single genre. We wanted to investivate which combination of genres would create the highest domestic box office revenue. 

To do this we created a new data frame that consisted of just the top 40 highest grossing movies.

In [ ]:
top_40_grossing = genre_domgross_clean.sort_values(by=['domestic_gross'], ascending=False).head(40)
top_40_grossing.head()

The top grossing movies were then grouped by genres.

In [ ]:
combo_genre = top_40_grossing.groupby('genres').mean().sort_values(by='domestic_gross', ascending=False)
combo_genre.reset_index(inplace=True)
combo_genre.head()

In [ ]:
combo_genre['genres'].value_counts()

It was noted that **all** of the top 40 movies were a combination of genres.

## Data Modeling
### Average Domestic Gross by Combined Genre

The graph below shows the combined genres of the top 40 grossing movies from the dataframe and their average domestic gross.

Of the 12 combinations of genres, the most common genres are **Action** and **Adventure** (both appearing in 67% of the combinations). The least common genres are **Horror, Crime** and **Biography** (both appearing only in 8% of the combinations).

In [ ]:
fig, ax = plt.subplots(figsize=(16,10))
x = combo_genre['genres']
y = combo_genre['domestic_gross']

ax.bar(x, y)
ax.tick_params(axis="x", labelrotation=60)
ax.set_yticklabels(['$0','$100', '$200', '$300', '$400', '$500', '$600'])
ax.set_title('Average Domestic Gross by Combined Genres', fontsize='20', weight='bold')
ax.set_xlabel('Combined Genres', fontsize='18')
ax.set_ylabel('Domestic Gross: in millions', fontsize='18');

## Average Gross Domestic Revenue by Genres Evalutations & Conclusions

Based on the data, the highest grossing main genres are **Sci-Fi, Adventure, Animation, Action, Fantasy**. 
***
However, studios produce movies that are labeled under several genres. When looking at the combined genres for the top grossing movies, the data shows that of the highest grossing films, 91% of them are classified as **Action** and/or **Adventure**. The only exception to this would be the movies that are classified as **Horror,Thriller**. 
***
If using this data to determine which types of movies to create, we would suggest **Action** and/or **Adventure** coupled with another other genre will increase the likelihood of a high domestic gross.

## ASHLI'S SECTION ENDS HERE

# Exploration of Movie Gross and Production Budget - Return on Investment

### Author: Ian Butler

## Data Preparation

Within this section's markdown and code cells, the project explores the following elements of data preparation:<br> - Which variables are being dropped<br> - Which features are being created<br> - Explicit methodology for nulls and unneccessary data<br> - Clear explanation for why any decision was made for one of the above elements

Instantiate a variable to run a SQL query on the entire movie_basics table.

In [ ]:
imdb_movie_basics_query = """
select
    *
from
    movie_basics
"""

Instantiate a variable to create a pandas data frame on the movie_basics query.

In [ ]:
movie_basics_df = pd.read_sql(imdb_movie_basics_query, conn)

Render the head of the movie_basics pandas data frame.

In [ ]:
movie_basics_df.head()

Confirm the data type of the table.

In [ ]:
type(movie_basics_df)

Explore the movie_basics data frame.

In [ ]:
movie_basics_df.info()

In [ ]:
movie_basics_df.describe()

Instantiate a variable to run a SQL query on the entire movie_ratings table.

In [ ]:
imdb_movie_ratings_query = """
select
    *
from
    movie_ratings
"""

Instantiate a variable to create a pandas data frame on the movie_ratings table.

In [ ]:
movie_ratings_df = pd.read_sql(imdb_movie_ratings_query, conn)

Render the head of the movie_ratings data frame.

In [ ]:
movie_ratings_df.head()

Confirm the data type of the table.

In [ ]:
type(movie_ratings_df)

Explore the movie_ratings data frame.

In [ ]:
movie_ratings_df.info()

In [ ]:
movie_ratings_df.describe()

Extract only the movies which have more than 282 reviews.<br>This decision is made in confidence as a result of the following domain knowledge:<br>any movie which has less than 282 reviews - the 75% percentile in this dataset,<br>will not make a measurable impact in the scope of high-grossing movies.<br>This exclusion allows for the examination of only the data that pertains to the business problem.<br>In short, the problem is not concerned with movies that did not do well.

In [ ]:
fourth_quartile_movie_ratings_df = movie_ratings_df[
    movie_ratings_df['numvotes'] > 2.820000e+02]

Render the head of the fourth_quartile_movie_ratings_df data frame.

In [ ]:
fourth_quartile_movie_ratings_df.head()

Explore the fourth_quartile_movie_ratings_df data frame.

In [ ]:
fourth_quartile_movie_ratings_df.info()

In [ ]:
fourth_quartile_movie_ratings_df.describe()

Instantiate a variable to run a SQL query on the entire movie_basics table, joined with the entire movie_ratings table.<br>Specify explicit column names to avoid duplicating movie_id from movie_basics and movie_ratings.

In [ ]:
imdb_movie_basics_and_ratings_query = """
select
    mb.movie_id,
    mb.primary_title,
    mb.original_title,
    mb.start_year,
    mb.runtime_minutes,
    mb.genres,
    mr.averagerating as average_rating,
    mr.numvotes as num_votes
from
    movie_basics as mb
join movie_ratings as mr
    on mb.movie_id = mr.movie_id
"""

Instantiate a variable to create a pandas data frame on the movie_basics and movie_ratings tables.

In [ ]:
movie_basics_and_ratings_df = pd.read_sql(imdb_movie_basics_and_ratings_query, conn)

Render the head of the movie_basics_and_ratings data frame.

In [ ]:
movie_basics_and_ratings_df.head()

Confirm the data type of the movie_basics_and_ratings_df data frame.

In [ ]:
type(movie_basics_and_ratings_df)

Explore the movie_basics_and_ratings_df data frame.

In [ ]:
movie_basics_and_ratings_df.info()

In [ ]:
movie_basics_and_ratings_df.describe()

In the combined tables, extract only the movies which have more than 282 reviews.<br>This decision is made in confidence as a result of the following domain knowledge:<br>any movie which has less than 282 reviews - the 75% percentile in this dataset,<br>will not make a measurable impact in the scope of exploring high-grossing movies.<br>This exclusion allows for the examination of only the data that pertains to the business problem.<br>In short, the problem is not concerned with movies that did not do well.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df = movie_basics_and_ratings_df[
    movie_basics_and_ratings_df['num_votes'] > 2.820000e+02
]

Render the head of the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.head()

Explore the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.info()

In [ ]:
fourth_quartile_movie_basics_and_ratings_df.describe()

Examine the frequency of duplicated movied titles in fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False).value_counts()

Confirm the data type of the series.

In [ ]:
type(fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False).value_counts())

Based on this duplicated value counts series, there are 968 movies which appear more than once.<br>With consideration to combining this data frame with additional data by movie name,<br>it may not be possible to know which duplicate a new value corresponds to.<br>In light of this, as well as the approximately 05.53870% of the data that these duplicate values constitute,<br>they will be removed from the dataset for ease of combination and for clarity of feature association.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered = fourth_quartile_movie_basics_and_ratings_df[
    (fourth_quartile_movie_basics_and_ratings_df['primary_title'].duplicated(keep=False)) == False
]

Render the head of the fourth_quartile_movie_basics_and_ratings_df_cleaned data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.head()

Explore the fourth_quartile_movie_basics_and_ratings_df data frame.

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_and_ratings_df_filtered.describe()

Instantiate a variable to create a pandas data frame on the movie_gross csv.

In [ ]:
movie_gross_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')

Render the head of the movie_gross_df data frame.

In [ ]:
movie_gross_df

Explore the movie_gross_df data frame.

In [ ]:
movie_gross_df.info()

In [ ]:
movie_gross_df.describe()

Confirm the data type of the movie_gross data frame.

In [ ]:
type(movie_gross_df)

Instantiate a variable to create a pandas data frame on the movie_basics_and_ratings_df, joined with the movie_gross_df.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered = pd.merge(
    left=fourth_quartile_movie_basics_and_ratings_df_filtered,
    right=movie_gross_df,
    left_on='primary_title',
    right_on='title')

Render the head of the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.head()

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

Of particular note at this juncture is this:<br>of the various columns and their associated datat types, there is at least one which is not as expected.<br>Specifically, the foreign_gross column, which would be expected to be a number of some kind -either an integer or a float, is an object.<br>Also evident, by way of the Jurassic World entry in the above data frame head,<br>is the fact that the contents of these objects are not stored in a consistent denomination.<br>Furthermore, the data frame info demonstrates that there are only 1484 out of 2452 entries in the foreign_gross column which are non-null.<br>With a null value percentage of approximately 39.47797%, this column contains too many missing values to consider.<br>At this time, the foreign_gross column will not be considered for data preparation or visualization.<br>domestic_gross will be the measure against which other features are considered.<br><br>Given sufficient time, this data could also be wrangled and a subset in the count of 1484 could be explored.<br>Once a minimum viable product has been achieved, this may be done.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered = (
    fourth_quartile_movie_basics_ratings_and_gross_df_filtered.drop(columns='foreign_gross'))

Render the new head of the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.head()

Sort the fourth_quartile_movie_basics_ratings_and_gross_df_filtered data frame by domestic_gross,<br>in order to observe which movies have grossed the most money domestically.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.sort_values(by='domestic_gross', ascending=False)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

The data frame info demonstrates that there are 2 non-null values for studio.<br>With a total null value percentage of approximately 0.00081%,<br>it is safe to simply say that we don't know what this value should be,<br>and replace the null with a string - 'Unknown' - demonstrating this.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered['studio'].fillna('Unknown', inplace=True)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_filtered.describe()

The data frame info demonstrates that there are 17 null values for domestic_gross.<br>With a total null value percentage of approximately 0.69331%,<br>it is acceptable to exclude these entries from domestic_gross consideration,<br>as inserting a substitute value for them will affect the statistical measures of the data.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered = (
    fourth_quartile_movie_basics_ratings_and_gross_df_filtered.dropna(subset=['domestic_gross'])
)

Explore the fourth_quartile_movie_basics_ratings_and_gross_df_filtered again.

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered.info()

In [ ]:
fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered.describe()

The data frame info demonstrates that there are now 2435 entries with no null values.<br>To explore the relationship between domestic_gross and budget, another file is needed.

Instantiate a variable to create a pandas data frame on the movie_budgets CSV.

In [ ]:
movie_budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

Render the head of the movie_budgets_df data frame.

In [ ]:
movie_budgets_df.head()

Explore the movie_budgets_df data frame.

In [ ]:
movie_budgets_df.info()

In [ ]:
movie_budgets_df.describe()

Confirm the data type of movie_budgets_df.

In [ ]:
type(movie_budgets_df)

This new data frame also has information concerning domestic_gross, as well as worldwide_gross,<br>so it will be both interesting to compare the information in this domestic_gross to the column that already exists<br>and necessary to decide which column to utilize for analysis.

Combine the current data frame with the new one.

In [ ]:
final_df = pd.merge(
    left=fourth_quartile_movie_basics_ratings_and_gross_df_twice_filtered,
    right=movie_budgets_df,
    left_on='primary_title',
    right_on='movie')

Render the head of the final_df data frame.

In [ ]:
final_df.head()

Explore the final_df data frame.

In [ ]:
final_df.info()

In [ ]:
final_df.describe()

The head of the final_df data frame demonstrates that there are several columns with the same information,<br>several columns that do not directly pertain to the business question, and two columns with extremely similar information.<br>Specifically, columns that do not directly contribute to the business question<br>and which are no longer necessary for table combination are as follows:<br>movie_id, start_year, runtime_minutes, num_votes, studio, year, id, and release_date.

Remove unneccesary columns from final_df.

In [ ]:
final_df_reduced = final_df.drop(columns=['movie_id', 'start_year', 'runtime_minutes', 'num_votes', 'studio', 'year', 'id', 'release_date'])

Render the head of the final_df_reduced data frame.

In [ ]:
final_df_reduced.head()

Columns which contain repeat information are as follows: primary_title, original_title, title, and movie.

Remove columns with repeat information.

In [ ]:
final_df_reduced_simplified = final_df_reduced.drop(columns=['original_title', 'title', 'movie'])

Render the head of the final_df_reduced_simplifed data frame.

In [ ]:
final_df_reduced_simplified.head()

The only remaining column now which demonstrates unneccessary information is domestic_gross_x or domestic_gross_y. The values contained within these columns are extremely similar, so one of them may be safely disconsidered. Due to the higher level of precision associated with domestic_gross_y, domestic_gross_x will be disconsidered.

Remove domestic_gross_x from the final_df_reduced_simplified data frame.

In [ ]:
final_df_reduced_simplified_2 = final_df_reduced_simplified.drop(columns=['domestic_gross_x'])

Render the head of the final_df_reduced_simplified_2 data frame.

In [ ]:
final_df_reduced_simplified_2.head()

Explore the final_df_reduced_simplified_2 data frame.

In [ ]:
final_df_reduced_simplified_2.info()

In [ ]:
final_df_reduced_simplified_2.describe()

The current data types of the production_budget, domestic_gross_y, and worldwide_gross columns are objects and cannot be operated on as numbers.

Convert the data types of the above columns.

In [ ]:
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].str.replace('$','')
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].str.replace(',','')
final_df_reduced_simplified_2['production_budget'] = final_df_reduced_simplified_2['production_budget'].astype(int)
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].str.replace('$','')
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].str.replace(',','')
final_df_reduced_simplified_2['domestic_gross_y'] = final_df_reduced_simplified_2['domestic_gross_y'].astype(int)
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].str.replace('$','')
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].str.replace(',','')
final_df_reduced_simplified_2['worldwide_gross'] = final_df_reduced_simplified_2['worldwide_gross'].astype(int)

In [ ]:
final_df_reduced_simplified_2

Explore the final_df_reduced_simplified_2 data frame.

In [ ]:
final_df_reduced_simplified_2.info()

Rename the columns for clarity and simplicity.

In [ ]:
final_df_reduced_simplified_3 = final_df_reduced_simplified_2.rename(
    columns={'primary_title':'title', 'domestic_gross_y':'domestic_gross'})

In [ ]:
final_df_reduced_simplified_3

Instantiated a new data frame for ease of call.

In [ ]:
df_expanded = final_df_reduced_simplified_3.copy()

Instantiate a new column to observe the difference between domestic gross and production budget.

In [ ]:
df_expanded['domestic_return_on_investment'] = df_expanded['domestic_gross'] - df_expanded['production_budget']

Render the head of the new data frame.

In [ ]:
df_expanded.head()

Instantiate a new column to observe the difference between worldwide gross and production budget.

In [ ]:
df_expanded['worldwide_return_on_investment'] = df_expanded['worldwide_gross'] - df_expanded['production_budget']

Render the head of the new data frame.

In [ ]:
df_expanded.head()

Instantiate a new column to observe the difference between domestic gross and production budget as a percentage of production budget.

In [ ]:
df_expanded['domestic_roi_percentage'] = (df_expanded['domestic_return_on_investment'] / df_expanded['production_budget']) * 100

Render the head of the new data frame.

In [ ]:
df_expanded.head()

Instantiate a new column to observe the difference between worldwide gross and production budget as a percentage of production budget.

In [ ]:
df_expanded['worldwide_roi_percentage'] = (df_expanded['worldwide_return_on_investment'] / df_expanded['production_budget']) * 100

Render the head of the new data frame.

In [ ]:
df_expanded.head()

Sort the new data frame by highest return on investment.

In [ ]:
df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_return_on_investment', ascending=False)

Sort the new data frame by highest percent return on investment.

In [ ]:
df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_roi_percentage', ascending=False)

## Data Modeling

Within this section's markdown and code cells, the project explores the following elements of data modeling:<br> - How the data is being modeled<br> - Why these models are appropriate for representing the above data

Instantiate several variables to call in the visualization of the above data frames.

In [ ]:
df_expanded_roi = df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_return_on_investment', ascending=False)

In [ ]:
df_expanded_roi_top = df_expanded_roi.head()

In [ ]:
df_expanded_roi_perc = df_expanded.groupby(by='genres').mean().sort_values(by='worldwide_roi_percentage', ascending=False)

In [ ]:
df_expanded_roi_perc_top = df_expanded_roi_perc.head()

### Top 5 Worldwide Return on Investment by Genre

Generate a bar chart to illustrate how different categories of data compare to the same variable.<br>Specifically, demonstrate the worldwide return on investment in hundreds of millions of dollars by genre.

In [ ]:
genres_roi = df_expanded_roi_top.index
wwroi = df_expanded_roi_top['worldwide_return_on_investment']

roi_barplot = sns.barplot(x = genres_roi, y = wwroi)
roi_barplot.set_xlabel('Genres')
roi_barplot.set_ylabel('Worldwide Return on Investment')
roi_barplot.set_title('Top 5 Worldwide Return on Investment by Genre')
roi_barplot.set_xticklabels(genres_roi, rotation=45);

### Top 5 Worldwide Percent Return on Investment by Genre

Generate a bar chart to illustrate how different categories of data compare to the same variable.<br>Specifically, demonstrate the worldwide percent return on investment in hundreds of millions of dollars by genre.

In [ ]:
genres_roip = df_expanded_roi_perc_top.index
wwroip = df_expanded_roi_perc_top['worldwide_roi_percentage']

roip_barplot = sns.barplot(x = genres_roip, y = wwroip)
roip_barplot.set_xlabel('Genres')
roip_barplot.set_ylabel('Worldwide Percent Return on Investment')
roip_barplot.set_title('Top 5 Worldwide Percent Return on Investment by Genre')
roip_barplot.set_xticklabels(genres_roip, rotation=45)

## Evaluation

Within this section's markdown cells, the project explores the following elements of evaluation:<br> - Interpretation of results<br> - The fit of these models to the data<br> - Confidence for extrapolation<br> - Confidence for implementation

Ultimately, the primary takeaways from exploring the relationship between movie gross and production budget, also known in this case as return on investment, are these:<br>- First: that the relationship between worldwide gross and production budget demonstrates a high return on investment, when considered as a dollar amount, for movies which combine the following genres together:<br>--- Adventure, Drama, and Sci-Fi<br>--- Action, Adventure, and Sci-Fi<br>--- Comedy and Mystery<br>   Within these collections of genres of movies, the average return on investment is approximately 500 million dollars.<br><br> - Second: that the relationship between worldwide gross and production budget demonstrates a high return on investment, when considered as a percentage of production value, for movies which combine the following genres together:<br>   - Horror, Mystery, and Thriller<br>   - Horror<br>   Within these collections of genres of movies, the percent return on investment is approximately 3622% for Horror, Mystery, and Thriller, and approximately 2783% for Horror.

## IAN'S SECTION ENDS HERE

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***